<div class="center hero-unit">
	
	<h5>"Listen up, you filthy mongrels!"</h5>
	<h5>"Unless you lower the ladder this second, your precious prisoner here is going to make the sand damp with blood!"</h5>
	<h5>You yell out more threats.</h5>
	<h5>The woman is not struggling.</h5>
	<h5>Nobody in the village looks over the pit.</h5>
	<h5>They don't care.</h5>
	<h5>You begin to lose hope just as a head slowly peers over the quarry.</h5>
	
	<%= link_to "Keep at it.", dunes_threaten2_path , class: "center btn" %>
	
</div>
