<div class="center hero-unit">
	
	<h5>The two of you sit motionless. Your lives at the hands of those villagers.</h5>
	<h5>The motivation drains from you. Sitting next to the woman is sapping away at your vitality.</h5>
	<h5>You do nothing to stop it. You've already given up.</h5>
	<h5>Both of you sit speechless. Thinking empty thoughts.</h5>
	<h5>Life passes by.</h5>
	<h5>Just as abruptly as you were trapped in the hole, your pointless life is taken from you.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
