<div class="center hero-unit">

	<h5>You walk up to the ladder.</h5>
	<h5>You realize the potential of this opportunity.</h5>
	<h5>Yet you do not feel the hope.</h5>
	<h5>You comtemplate for a brief moment.</h5>
	<h5>You grab the ladder, raise it, and throw it back up out of the hole.</h5>
	<h5>You go back to sleep with the widow.</h5>
	<h5>This is your life now.</h5>

	<%= link_to "Back to the Beginning", start_path %>

</div>
