<div class="center hero-unit">
	
	<h5>"I'm not playing here!"</h5>
	<h5>The head at the top watches without emotion.</h5>
	<h5>"What's it gonna be?!"</h5>
	<h5>Still no reaction.</h5>
	<h5>The head rises. It lifts itself up and the villager simply walks away without saying a word.</h5>
	<h5>They called your bluff.</h5>
	<h5>You release your grip on the woman.</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Attempt to swoon her.", dunes_swoon2_path %></button>
	  <button class="btn"><%= link_to "Question her.", dunes_question_path %></button>
	</div>
	
	
</div>
