<div class="center hero-unit">
	
	<h5>You decide to take her hostage. She could be working together with the villagers.</h5>
	<h5>It's not uncommon for organized crime to have an attractive woman to lure you into traps.</h5>
	<h5>You reach into your pocket for your scalpel.</h5>
	<h5>Without saying a word, you swiftly position yourself behind her and put your left arm over chest, immobilizing her arms.</h5>
	<h5>Your right hand tightly grips the scalpel and you point it directly at her larynx.</h5>
	<h5>You dig the fine blade into her neck just a little bit so she can feel the sharpness.</h5>
	
	<%= link_to "Threaten", dunes_threaten_path , class: "center btn" %>
	
</div>
