<div class="center hero-unit">
	
	<h5>"We can escape from here," you tell the widow.</h5>
	<h5>She asks how. You explain to her that you can use the tools they gave her to gradually build blocks so that they can use them as steps and eventually get out of the hole.</h5>
	<h5>Night after night, the two of you covertly build stepping blocks in order to escape.</h5>
	<h5>After a month, it is enough. You wait until the night.</h5>
	<h5>You stack the blocks on top of each other until you can reach the edge of the pit with your hands.</h5>
	<h5>You have just enough strength to lift yourself up.</h5>
	<h5>You look around. The villagers are all asleep.</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Make a run for it", dunes_run_path %></button>
	  <button class="btn"><%= link_to "Help the widow up", dunes_help_path %></button>
	</div>
	
</div>
