<div class="center hero-unit">
	
	<h5>You refuse to dig sand.</h5>
	<h5>If the villagers find out you are good at digging sand, they will keep you here forever until you die.</h5>
	<h5>But if you give them enough trouble, they'll let you go.</h5>
	<h5>You sit there pouting for a couple hours, shouting obscenities at the villagers.</h5>
	<h5>The other person who is also in the pit wakes up because of your rowdiness.</h5>
	
	<%= link_to "Uh-oh", dunes_widow_path , class: "center btn" %>
	
</div>
