<div class="center hero-unit">
	
	<h5>You had one chance for a good first impression and you ruined it.</h5>
	<h5>You reacted violently instead of cooperatively.</h5>
	<h5>Your only other companion in the hell hole never says a word to you.</h5>
	<h5>You go insane after a few months.</h5>
	<h5>You spend the rest of your life in misery in the sand dune.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
