<div class="center hero-unit">
	
	<h5>You decide to read Woman in the Dunes.</h5>
	<h5>You've seen the movie before; why not read the book as well?</h5>
	<h5>You pick up the book and look at its front and back covers.</h5>
	<h5>You hear a very low noise coming from the book.</h5>
	<h5>Surprised, you put the book to your ear to figure out what it is.</h5>
	<h5>Suddenly, sand pours out of the book's pages. It spills all over your face as you gasp in astonishment.</h5>
	<h5>The sand continues pouring until it fills your entire floor, and then higher.</h5>
	<h5>You try to shout for help, but the sand has just reached the height of your mouth and it abruptly silences you.</h5>
	<h5>You die a slow, choking death by drowning in sand.</h5>
	
	<%= link_to "Reincarnate", dunes_warp_path , class: "center btn" %>

</div>
