<div class="center hero-unit">
	
	<h5>Without hesitation, your body receives a burst of energy knowing that you are now out of the pit.</h5>
	<h5>You make a dash in the direction of light. You don't know where you're going. But it's sure as hell better than here.</h5>
	<h5>The widow below you starts yelling. She's screaming at you to help her up. You don't care.</h5>
	<h5>The villagers wake up.</h5>
	<h5>Are you fast enough?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "There is no speed limit for freedom", dunes_freedom_path %></button>
	  <button class="btn"><%= link_to "Being trapped in a hole doesn't help your fitness", dunes_capture_path %></button>
	</div>
	
</div>
