<div class="center hero-unit">
	
	<h5>You make space for the woman.</h5>
	<h5>The two of you sit in silence for a few moments.</h5>
	<h5>You decide to ask her why she is here.</h5>
	
	<%= link_to "Question her", dunes_question_path , class: "center btn" %>
	
</div>
