<div class="center hero-unit">
	
	<h5>You pick up the speed.</h5>
	<h5>The villagers are now chasing you.</h5>
	<h5>They can't catch up. They are running to capture a prisoner. You are running for life. For freedom.</h5>
	<h5>You laugh hysterically as they, one by one, stop to breathe.</h5>
	<h5>You glance back with excitement. At last, you can return home.</h5>
	<h5>While you are glancing back, you run facefirst into a tree surrounded by barbed pinecones.</h5>
	<h5>Blood gushes down your face and body and you drown in your own blood.</h5>
	<h5>You were so close too.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
