<div class="center hero-unit">
	
	<h5>You decide to try and swoon her.</h5>
	<h5>You apologize to the woman for trying to hold her as hostage.</h5>
	<h5>She does not react.</h5>
	<h5>"Look I'm sure you want to get out of here just as much as I do."</h5>
	<h5>She goes back in the pit's house.</h5>
	<h5>Maybe that wasn't such a good idea.</h5>
	
	<%= link_to "You're on your own now", dunes_solo_path , class: "center btn" %>
	
</div>
