<div class="center hero-unit">
	
	<h5>You decide to get right to it.</h5>
	<h5>Those people have your way out of this place and you'd better not piss them off.</h5>
	<h5>You pick up a shovel and start digging away.</h5>
	<h5>After a few minutes, you are panting and sweating.</h5>
	<h5>There is no point.</h5>

	<button class="btn"><%= link_to "You hate sand.", dunes_refuse_path %></button>
	
</div>
