<div class="center hero-unit">
	
	<h5>You wake up one morning with the same hopeless feeling.</h5>
	<h5>The widow, who has become your lover over the years, is asleep next to you.</h5>
	<h5>You glance outside the house.</h5>
	<h5>One of the villagers forgot to bring the ladder back up. It stands against the edge of the hole.</h5>
	
	
	<%= link_to "Go to the ladder", dunes_ladder_path , class: "center btn" %>
	
	
	
	
	
</div>
