<div class="center hero-unit">
	
	<h5>"Why are you here?"</h5>
	<h5>The woman doesn't answer.</h5>
	<h5>"Who are you?"</h5>
	<h5>Still no answer.</h5>
	<h5>"Okay. I guess you don't want to talk."</h5>
	<h5>"Talking is a waste of energy," she finally says.</h5>
	<h5>Slowly but surely, the two of you make a connection. You learn more about her and she learns more about you. She too was forced in the pit against her will.</h5>
	
	<%= link_to "Conspire to escape", dunes_conspire_path , class: "center btn" %>
	
</div>
