<div class="center hero-unit">
	
	<h5>The other person in the sand pit suddenly appears beside you.</h5>
	<h5>You take a look at her.</h5>
	<h5>She's beautiful.</h5>
	<h5>For a fleeting second, you consider staying in the dune if it meant you could spend more time with her.</h5>
	<h5>Nonsense, you think to yourself. This is not where I belong.</h5>
	<h5>An idea comes to you.</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Take the woman hostage.", dunes_hostage_path %></button>
	  <button class="btn"><%= link_to "Attempt to swoon her.", dunes_swoon_path %></button>
	  <button class="btn"><%= link_to "Question her.", dunes_question_path %></button>
	</div>
	
	
</div>
