<div class="center hero-unit">
	
	<h5>You are reincarnated as a school teacher named Junpei Niki.</h5>
	<h5>You collect bugs for a living. You miss your last bus back home on an expedition and you have to stay in the village's sand pit for the night.</h5>
	<h5>You sleep in the pit for the night.</h5>
	
	<%= link_to "Wake Up", dunes_wake_path , class: "center btn" %>
	
</div>
