<div class="center hero-unit">
	
	<h5>You wake up in the morning to discover that the villagers have taken away the ladder that leds up from the pit.</h5>
	<h5>You yell for help. It must be some sort of misunderstanding.</h5>
	<h5>It isn't. The villagers demand that you help the other person living in the pit dig sand.</h5>
	<h5>How good are you at digging sand?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Insect researching has given you great sand digging skills.", dunes_dig_path %></button>
	  <button class="btn"><%= link_to "You hate sand.", dunes_refuse_path %></button>
	  <button class="btn"><%= link_to "Who is this other person?", dunes_widow_path %></button>
	</div>
	
	
</div>
