<div class="center hero-unit">
	
	<h5>A diet of minimal food and sand does not do the body good.</h5>
	<h5>You sprint for a maximum of 20 meters before your feet collapse.</h5>
	<h5>The villagers pick you up and throw you back in the pit.</h5>
	<h5>They confiscate your stepping blocks too.</h5>
	<h5>The rest of your life is spent in despair.</h5>
	<h5>Time and time again, you dream of the night you almost escaped.</h5>
	<h5>You sigh hopelessly and drift off into sleep.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
