<div class="center hero-unit">
	
	<h5>Several years pass.</h5>
	<h5>The villagers have been extra careful since the night you tried to escape.</h5>
	<h5>You sometimes still dream of the night you were so close to freedom.</h5>
	<h5>You've grown used to life in the sand pit.</h5>
	
	<%= link_to "Go to sleep", dunes_sleep_path , class: "center btn" %>
	
	
</div>
