<div class="center hero-unit">
	
	<h5>You decide to help the widow up.</h5>
	<h5>You are out of the hole and you try to grab her hand so that you can pull her up.</h5>
	<h5>She jumps.</h5>
	<h5>It's not high enough. She falls and the pile of blocks collapses underneath her.</h5>
	<h5>The sound of the blocks alert the villagers and they quickly run out to tackle you. They throw you back in.</h5>
	<h5>Back to square one.</h5>
	
	<%= link_to "Fast forward several years", dunes_fastforward_path , class: "center btn" %>
	
	
</div>
