<div class="center hero-unit">
	
	<h5>You tell nobody about the truth of the child Fujitsubo bears.</h5>
	<h5>However, Fujitsubo is not so careful. Her careless actions and your misplaced trust have betrayed you.</h5>
	<h5>Emperor Kiritsubo finds out about the child, and as a result, the affair.</h5>
	<h5>You are sentenced to death by your own father.</h5>
	<h5>You can either try to run far, far away, fight the emperor and his men, or face your punishment.</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Run. Your life is most valuable.", genji_run_path %></button>
	  <button class="btn"><%= link_to "You're not going down without a fight.", genji_fight_path %></button>
	  <button class="btn"><%= link_to "Face the music. There's no way around it.", '#' %></button>
	</div>
	
	
</div>
