<div class="center hero-unit">
	
	<h5>You do your best to keep your mouth shut about Fujitsubo's baby.</h5>
	<h5>You do not trust her or yourself. You sit her down and tell her of the importance of keeping this a secret.</h5>
	<h5>However, while you were busy trying to keep the baby a secret, your other affairs have been exposed.</h5>
	<h5>You are exiled to the town of Suma, where you seduce more women.</h5>
	<h5>Your life continues as you age and remarry several times.</h5>
	<h5>Your life zooms by in the blink of the eye. Your beloved Murasaki has passed away.</h5>
	<h5>You sit in your rocking chair contemplating how fleeting everything is.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
