<div class="center hero-unit">
	
	<h5>You decide to kidnap her. You want to raise her to become the ideal woman.</h5>
	<h5>Meanwhile, you continue your womanizing with various women.</h5>
	<h5>Lady Fujitsubo is pregnant with your child. How good are you at keeping secrets?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Very good. My lips never slip.", genji_secret_path %></button>
	  <button class="btn"><%= link_to "I tend to blab when I'm drunk", '#'%></button>
	</div>
	
	
</div>
