<div class="center hero-unit">
	
	<h5>You show the emperor's men no mercy as you mow them down with your relentless fury of a machine gun.</h5>
	<h5>They have no idea what is piercing through their bodies as the technology is behind their time.</h5>
	<h5>You laugh maniacally as nobody can stop you.</h5>
	<h5>*Click* *Click* *Click*</h5>
	<h5>You should have brought that second round of ammunition.</h5>
	<h5>The remaining men swarm you and pierce your abdomen like yakinuki.</h5>
	<h5>At least you took some of them down.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
