<div class="center hero-unit">
	
	<h5>The toothpick breaks as you take it out of your pocket.</h5>
	<h5>The emperor's men laugh as they see your pathetic attempt at fighting with a toothpick.</h5>
	<h5>They don't bother bringing you to the emperor. You are stabbed on the spot and killed.</h5>
	
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
