<div class="center hero-unit">
	
	<h5>You run faster than you've ever run in your entire life.</h5>
	<h5>You regret everything you've ever done. If you could take it all back and do it over, you would.</h5>
	<h5>The emperor's men are quick and your stamina is limited. Your untrained feet are no match for their horses.</h5>
	<h5>You are captured and brought before the emperor.</h5>
	<h5>Your entire life flashes before your eyes as you are executed.</h5>
	<h5>Well, at least now, you have the opportunity to do it all over.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
