<div class="center hero-unit">
	
	<h5>You quickly draw your katana from your pocket and hold it in front of yourself.</h5>
	<h5>You realize you have no idea how to use a sword.</h5>
	<h5>After swinging around wildly and scaring everybody, you accidentally commit seppukku.</h5>
	<h5>You fall to the floor and blood soaks through your clothes.</h5>
	<h5>You regret everything about your life as the darkness takes you.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
	
</div>
