<div class="center hero-unit">
	
	<h5>Well you've had a good run. You might even say your life was much better than any of the other peasants you know.</h5>
	<h5>You kiss your mistress Fujitsubo goodbye as you are taken away by the emperor's men.</h5>
	<h5>Your father looks at your disapprovingly in disgust before you are executed.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
	
</div>
