<div class="center hero-unit">
	
	<h5>In a flash, you are teleported through a wormhole in spacetime.</h5>
	<h5>You are now Hikaru Genji, son of Emperor Kiritsubo. You are having an affair with Lady Fujitsubo and the emperor has no idea.</h5>
	<h5>Your thirst for women is not quenched. You stumble upon Murasaki, Fujitsubo's niece. Do you want to kidnap her?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Kidnap her. Your needs come above all else.", genji_kidnap_path %></button>
	  <button class="btn"><%= link_to "Your conscience overwhelms you. It is wrong.", genji_conscience_path %></button>
	</div>
	
</div>
