<div class="center hero-unit">
	
	<h5>You can't have a child and keep it a secret. Especially if the mother is Fujitsubo.</h5>
	<h5>You decide to run away.</h5>
	<h5>Unfortunately, without the help and guidance of your family, you die of malnourishment within a couple days.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
	
</div>
