<div class="center hero-unit">
	
	<h5 class="center">
		You choose to pick up The Tale of Genji. It is the most famous Japanese novel after all. There is no other option.
	</h5>
	
	<%= link_to "Open the Cover", '#', class: "center btn" %>
	
</div>
