<div class="center hero-unit">
	
	<h5>You decide to stand your ground. You check your pockets for any weapons you might have.</h5>
	<h5>In your left pocket, you have a toothpick.</h5>
	<h5>In your right pocket, you have a katana.</h5>
	<h5>In your back pocket, you have a machine gun.</h5>
	<h5>You have a few seconds to decide what weapon to wield before the emperor's men round you up.</h5>
	<h5>What's it going to be?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Toothpick. You don't want to hurt anybody now.", genji_toothpick_path %></button>
	  <button class="btn"><%= link_to "Katana. Way of the samurai", genji_katana_path %></button>
	  <button class="btn"><%= link_to "Machine gun. They're going down.", genji_gun_path %></button>
	</div>
	
	
	
</div>
