<div class="center hero-unit">
	
	<h5>You continue to be content with providing Naomi with her every need.</h5>
	<h5>You are there to pay for whatever she wants. You notice that she does not even bother to look at you anymore.</h5>
	<h5>It's okay. At least you can still give her baths, look at her, and shave her back.</h5>
	<h5>The man she brought home today gives you a quick glance and never looks at you again.</h5>
	<h5>They go to her bedroom.</h5>
	<h5>After they are done, she comes out and tells you that she is leaving.</h5>
	
	<%= link_to "Beg her not to leave.", naomi_beg_path , class: "center btn" %>
	
</div>
