<div class="center hero-unit">
	
	<h5>Naomi tilts her head and thinks.</h5>
	<h5>Despite your best efforts, she rejects your offer.</h5>
	<h5>You thank her for her time and the two of you part ways.</h5>
	<h5>You sit down and continue staring at her, wondering what could have been.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
	
</div>
