<div class="center hero-unit">
	
	<h5>Your pillow is soaked with tears.</h5>
	<h5>Such agony has never before befallen you.</h5>
	<h5>The pain is too much. You decide to end it all.</h5>
	<h5>You decide to hang yourself on the tree in your yard.</h5>
	<h5>You gather some rope and walk towards the door.</h5>
	
	<%= link_to "Open the door.", naomi_door_path , class: "center btn" %>
	
</div>
