<div class="center hero-unit">
	
	<h5>Before you can finish talking, you can already tell that she is going to accept.</h5>
	<h5>You take her to your home that day.</h5>
	<h5>The two of you develop a relationship that is unlike any other.</h5>
	<h5>You will raise her to be the perfect wife.</h5>
	<h5>Years pass.</h5>
	<h5>One day, she says that she wants to hang out with a friend.</h5>
	<h5>You know that she and the friend have a romance.</h5>
	<h5>Do you let her go?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Yes. You are grateful just being in her presence.", naomi_friend_path %></button>
	  <button class="btn"><%= link_to "No. The friend will ruin everything.", naomi_refuse_path %></button>
	</div>
	
	
	
</div>
