<div class="center hero-unit">
	
	<h5>You choose to read Naomi by Juni'ichirō Tanizaki</h5>
	<h5>You sit down in your chair and pick up the book.</h5>
	
	<%= link_to "Open the Book", naomi_warp_path , class: "center btn" %>
	
</div>
