<div class="center hero-unit">
	
	<h5>Naomi has full control of your entire life.</h5>
	<h5>You don't care. As long as you have Naomi, you have purpose.</h5>
	<h5>As long as she never leaves you again, you'll be happy.</h5>
	<h5>Her latest Western fling arrives. You keep to your thoughts.</h5>
	<h5>Naomi is yours and nothing can change that. You continue to provide for her for the rest of your sad life.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>