<div class="center hero-unit">
	
	<h5>You take a deep breath and try to think clearly for the first time in years.</h5>
	<h5>You rationalize to yourself that you are better off without her. She was poison to your life and you don't need her.</h5>
	<h5>You are done being sad and you have decided to make changes to your life starting right now.</h5>
	<h5>As you get up, determined, you hear a knock on the door.</h5>
	
	<%= link_to "Open the door.", naomi_door_path , class: "center btn" %>
	
</div>
