<div class="center hero-unit">
	
	<h5>She leaves you in disgust.</h5>
	<h5>You sigh and slump in your bed.</h5>
	<h5>Pain and worry take over your mind.</h5>
	<h5>What will you do now?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Curl up and cry.", naomi_cry_path %></button>
	  <button class="btn"><%= link_to "Find your inner strength and move on.", naomi_strength_path %></button>
	</div>
	
	
	
</div>
