<div class="center hero-unit">
	
	<h5>Naomi stands before you after you open the door.</h5>
	<h5>She has come back because she realizes she needs you. All the emotions you felt just a moment ago dissipate.</h5>
	<h5>You hug her with all your might, but she stands still.</h5>
	<h5>She wants you to continue to keep her under your shelter and pay for her needs.</h5>
	<h5>You agree without a second thought. You apologize profusely for being such a useless caretaker and promise it won't happen again.</h5>
	
	<%= link_to "Take her back in.", naomi_in_path , class: "center btn" %>
	
	
	
</div>
