<div class="center hero-unit">
	
	<h5>She throws a tantrum. You regret this immediately.</h5>
	<h5>Giving her own room would have been much less painful than this.</h5>
	
	<%= link_to "You concede.", naomi_ownroom_path , class: "center btn" %>
	
</div>
