<div class="center hero-unit">
	
	<h5>You sprint out of the train as if you are on fire.</h5>
	<h5>You can hear the searing laughter ring through your ears from the entire train.</h5>
	<h5>Your social life is over as you have made a fool of yourself for the last time.</h5>
	
	<h5>You wake up and realize that you were still asleep.</h5>
	<h5>You are now late to your literature class and you still have not read any of the books.</h5>
	<h5>You manage to also be late to class. The teacher has had enough of your non-sense.</h5>
	<h5>You fail the class and disappoint your family and ancestors.</h5>
	
	<%= link_to "Back to the Beginning", start_path %>
	
</div>
