<div class="center hero-unit">
	
	<h5>The book is incredibly boring. You fall asleep in minutes</h5>
	<h5>Several hours later, you wake up in a drowsy state.</h5>
	<h5>You try to force yourself awake because class starts soon.</h5>
	<h5>After another hour, you manage to keep your eyelids up.</h5>
	
	<%= link_to "Wake Up", snow_wake_path , class: "center btn" %>
	
</div>
