<div class="center hero-unit">
	
	<h5>You bolster up the confidence to start a conversation with strangers.</h5>
	<h5>You clear your throat, stand up, and walk up to them.</h5>
	<h5>"Hello, my name is Shimamura. Where are you guys going?"</h5>
	<h5>The young lady does not respond, but stares at you with fascination. The sick man gets sicker</h5>
	<h5>After a whole minute of excrutiatingly painful and awkward silence, you realize you are not wearing pants.</h5>
	<h5>Your face burns with embarrassment.</h5>
	
	<%= link_to "Run out of the train as fast as you can.", snow_run_path , class: "center btn" %>
	
	
</div>
