<div class="center hero-unit">
	
	<h5>You wake up on a train.</h5>
	<h5>There are people around you and they are talking.</h5>
	<h5>There is a sick man accompanied by a young woman.</h5>
	<h5>Are you feeling sociable today?</h5>
	
	<div class="btn-group">
	  <button class="btn"><%= link_to "Yes. You go up and talk to them.", snow_social_path %></button>
	  <button class="btn"><%= link_to "No. You'd rather sit back and observe.", snow_observe_path %></button>
	</div>
	
	
</div>
