<div class="center hero-unit">
	
	<h5>You observe them from a distance as they converse.</h5>
	<h5>You find out that there may be a love triangle between Komako, the sick man, and Yoko, the beautiful young lady on the train.</h5>
	<h5>Before you know it, a stroke of psychic revelation hits you as you see their future unfold before your eyes.</h5>
	<h5>You see Yoko fall from the balcony of a warehouse. Her body lies lifeless in the Komako's arms.</h5>
	<h5>The sick man dies a miserable death after he wins the lottery. Such is the way of life.</h5>
	<h5>Komako is captured by foreign cannibals and her fresh body is devoured after they force her to commit seppukku.</h5>
	<h5>You are horrified at this clairvoyance. You get off the train and bury your head in your pillow and wonder the meaning of it all.</h5>

	<%= link_to "Back to the Beginning", start_path %>
	
</div>
