<div class="center hero-unit">
	
	<h5 class="center">You wake up one morning realizing that you did not do your literature homework.</h5>
	<h5 class="center">You were supposed to have read The Tale of Genji, Naomi, Snow Country, and Woman in the Dunes</h5>
	<h5 class="center">You only have enough time to read one of them. Which one do you choose?</h5>
	
	<%= link_to image_tag("tale_of_genji.jpg", width: 150, height: 200, alt: "The Tale of Genji"), genji_path %>
	<%= link_to image_tag("naomi.jpg", width: 150, height: 200, alt: "Naomi"), naomi_path %>
	<%= link_to image_tag("snow_country.jpg", width: 150, height: 200, alt: "Snow Country"), snow_path %>
	<%= link_to image_tag("woman_in_the_dunes.jpg", width: 150, height: 200, alt: "Woman in the Dunes"), dunes_path %>
	
</div>